Src/Main/SoaRefactorLib/hnTest.wsdl

<wsdl:definitions targetNamespace="http://www.iit.bme.hu/HelloNamespace"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:tns="http://www.iit.bme.hu/HelloNamespace"
	xmlns:ns0="http://www.iit.bme.hu/HelloNamespace"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
  <wsdl:message name="IHello_helloOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:helloOperation"/>
  </wsdl:message>
  
  <wsdl:message name="IHello_helloOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:helloOperationResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="IHello">
    <wsdl:operation name="helloOperation">
      <wsdl:input wsaw:Action="http://www.iit.bme.hu/HelloNamespace/IHello/helloOperation" message="ns0:IHello_helloOperation_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.iit.bme.hu/HelloNamespace/IHello/helloOperationResponse" message="ns0:IHello_helloOperation_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>



  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element name="int" nillable="true" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="HelloStructType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Age" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ArrayOfHelloStructType">
    <xs:sequence>
      <xs:element name="HelloStructType" nillable="true" type="tns:HelloStructType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="HelloStructTypeExt">
    <xs:complexContent>
      <xs:extension base="tns:HelloStructType">
        <xs:element name="Description" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="HelloEnumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hello"/>
      <xs:enumeration value="bye"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="helloOperation">
    <xs:sequence>
      <xs:element name="parameter" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="helloOperationResponse">
    <xs:sequence>
      <xs:element name="helloOperationResult" type="tns:HelloEnumType"/>
    </xs:sequence>
  </xs:complexType>


  <wsdl:binding name="IHello_BasicHttpBinding_IHello" type="wsdlpart:IHello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="helloOperation">
      <soap:operation soapAction="http://www.iit.bme.hu/HelloNamespace/IHello/helloOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>



  <wsdl:service name="helloEndpint">
    <wsdl:port name="BasicHttpBinding_IHello" binding="ns0:IHello_BasicHttpBinding_IHello">
      <soap:address location="http://localhost/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>